{% extends "main/base.html" %}

{% load static %}

{% block 'main' %}
<div class="container py-5">
    <!-- УСЛУГИ -->
    <div class="d-flex justify-content-between align-items-center pb-2" style="flex-wrap: wrap;">
        <h1>Популярные услуги автосервиса</h1>
        <div>
            <a href="{% url 'services' %}" class="btn btn-outline-primary">
                <div class="d-flex align-items-center justify-content-center">
                    Все услуги
                    <span class="material-icons px-1">
                directions_car
            </span>
                </div>
            </a>
        </div>

    </div>
    <div class="my-grid">
        {% for service in services %}
        <div class="card">
            <img class="card-img-top" src="/media/{{service.cover}}">
            <div class="card-body">
                <h5 class="card-title">{{service.name}}</h5>
                <div class="container">
                    <div class="row card-actions">
                        <button type="button" class="btn btn-outline-info col" data-bs-toggle="modal"
                            data-bs-target="#info{{service.id}}">
                            <div class="d-flex align-items-center justify-content-center">
                                Информация
                                <span class="material-icons">
                                    help_outline
                                </span>
                            </div>
                        </button>
                        <a href="{% url 'service_detail' service.id %}" class="btn btn-outline-warning col">
                            <div class="d-flex align-items-center justify-content-center">
                                Детализация
                                <span class="material-icons">
                                    article
                                </span>
                            </div>
                        </a>
                        <button onclick="addCart(+'{{service.id}}')" class="btn btn-outline-primary col-12"
                            id="add-cart-btn-{{service.id}}" data-bs-toggle="modal"
                            data-bs-target="#addService{{service.id}}">
                            <div class="d-flex align-items-center justify-content-center">
                                Записаться
                                <span class="material-icons">
                                    navigate_next
                                </span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="info{{service.id}}" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Информация</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% autoescape off %}
                            {{service.description}}
                            {% endautoescape %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button onclick="addCart(+'{{service.id}}')" data-bs-dismiss="modal"
                                    class="btn btn-outline-primary col ms-1" data-bs-toggle="modal"
                                    data-bs-target="#addService{{service.id}}" id="add-cart-btn-modal-{{service.id}}">
                                <div class="d-flex align-items-center justify-content-center">
                                    Записаться
                                    <span class="material-icons">
                                        navigate_next
                                    </span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->

            <!-- AddModal -->
            <div class="modal fade" id="addService{{service.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Услуга добавлена</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Выбранная услуга добавлена к списку услуг
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="button" onclick="deleteCart(+'{{service.id}}')" class="btn btn-warning"
                                    data-bs-dismiss="modal">Убрать
                            </button>
                            <a href="{% url 'request' %}" class="btn btn-primary">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- AddModal -->
        </div>
        {% endfor %}
    </div>
    <!-- УСЛУГИ -->

    <!-- АКЦИИ -->
    {% if promo %}
    <div class="d-flex justify-content-between pt-5 pb-2">
        <h2>Наши акции</h2>
        <a href="{% url 'promo' %}" class="btn btn-outline-warning d-flex align-items-center justify-content-center">
            Все акции
            <span class="material-icons px-1">
                discount
            </span>
        </a>
    </div>
    <div class="promo row">
        <img class="col-md-8 col-12" src="/media/{{promo.cover}}" alt="Обложка акции">
        <div class="promo__body col-md-4 col-12">
            <h3>{{promo.name}}</h3>
            <div>
                <a href="{% url 'promo_info' promo.id %}" class="btn btn-outline-warning">
                    <div class="d-flex align-items-center justify-content-center">
                        Подробнее
                        <span class="material-icons">
                            navigate_next
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- АКЦИИ -->
</div>
{% endblock %}

{% block 'script' %}
<script src="{%  static 'js/services-cart.js' %}"></script>
{% endblock %}